:root {
  --purple: #393456;
  --orange: #ff7d2e;
  --yellow: #f2d40d;
  --green: #4eca48;
  --grey: #a1a1a1;
  --cyan: #70e4e5;
  --pink: #ed1b72;
  --blue: #0191f7;
  --white: #fff;
  --black: #1b1b1b;
  --primary-bgr: var(--white);
  --alternate-bgr: #f4f4f4;
  --primary-text: var(--purple);
  --link: var(--purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bgr: var(--black);
    --primary-text: var(--grey);
    --alternate-bgr: #22212b;
    --link: var(--white);
  }
}

html {
  font-family: Roboto, Inter, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-text);

  @media screen and (max-device-width: 414px) {
    font-size: 14px;
  }
}

p {
  line-height: 1.6;
}

*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}

a {
  color: var(--link);
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: var(--orange);
    opacity: .3;
  }

  &:hover::after {
    top: 0;
  }
}

.font-thin {
  font-weight: 100;
}

.flex {
  display: flex;
}

.place-content-center {
  place-content: center;
}

em {
  font-style: italic;
}

.z-0 {
  z-index: 0;
}
